/*
 *= require bootstrap/dist/css/bootstrap.min.css
 *= require_self
 */


.features .glyphicon {
  font-size: 32px;
}

.row {
  margin-bottom: 20px;
}

.quote {
  background-color: #444;
  color: #e1e1e1;
}
.quote blockquote {
  border: none;
  margin: 0;
}
.quote footer {
  color: #c1c1c1;
}
section, header {
  background-color: #fff;
}
body {

}
.footer {
  padding: 20px 0;
}


#demo-nav {
  display: none;
}

.show-nav #demo-nav {
  display: block;
}

h2{
    margin: 0;
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
}
.item{
    background: #333;
  text-align: center;
    height: 460px;
}
.carousel{
    margin-top: 20px;
}
.bs-example{
	margin: 20px;
}

.textCenter {
  text-align: center;
  padding: 0 0 20px 0;

}
.tick {
  text-align: center;
  font-size: 28px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
}
.footer {
  color: #efefef;
  background-color: #333;
}
.footer a {
  color: #9af7fe;
}
@media only screen and (max-width: 768px) {
  body { margin-bottom: 400px; }
  .footer { height: 420px; }
  .item{
      height: 160px;
  }

}
